{% extends 'base.html.twig' %}

{% block title %}Mensajes index{% endblock %}

{% block body %}
    <h1>Mensajes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idmensaje</th>
                <th>Mensaje</th>
                <th>FechaHora</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.id }}</td>
                <td>{{ mensaje.idmensaje }}</td>
                <td>{{ mensaje.mensaje }}</td>
                <td>{{ mensaje.fechaHora ? mensaje.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mensaje.imagen ? 'Yes' : 'No' }}</td>
                <td>{{ mensaje.estado }}</td>
                <td>
                    <a href="{{ path('mensajes_show', {'id': mensaje.id}) }}">show</a>
                    <a href="{{ path('mensajes_edit', {'id': mensaje.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mensajes_new') }}">Create new</a>
{% endblock %}
